# –ü—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏–µ —Ü–µ–Ω –ø–æ—Ç—Ä–µ–±–∏—Ç–µ–ª—å—Å–∫–æ–≥–æ —Ä–∏—Ç–µ–π–ª–∞ –ø–æ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ –Ω–∞ –æ—Å–Ω–æ–≤–µ –≥–ª—É–±–æ–∫–∏—Ö –Ω–µ–π—Ä–æ–Ω–Ω—ã—Ö —Å–µ—Ç–µ–π
__–í—ã–ø–æ–ª–Ω–∏–ª:__ *–î–æ–º—á–µ–Ω–∫–æ –ú–∞–∫—Å–∏–º*

__–°—Ç—É–¥–µ–Ω—Ç –≥—Ä—É–ø–ø—ã:__ *–†–ò–ú-130962*

In [17]:
# ----------- –®–ê–ì 1.1: –°–∫–∞—á–∏–≤–∞–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ -----------
# üì¶ –¶–µ–ª—å: –∑–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –∏–∑ Kaggle

# –î–ª—è –ª–æ–∫–∞–ª—å–Ω–æ–≥–æ –∑–∞–ø—É—Å–∫–∞ –∑–∞–≥—Ä—É–∑–∏—Ç–µ kaggle.json –≤ ~/.kaggle/kaggle.json –∏ –¥–∞–π—Ç–µ –ø—Ä–∞–≤–∞:
# !chmod 600 ~/.kaggle/kaggle.json

# –î–ª—è –∑–∞–ø—É—Å–∫–∞ –≤ colab

# from google.colab import files
# uploaded = files.upload('/root/.kaggle')
# !chmod 600 /root/.kaggle/kaggle.json

!kaggle competitions download -p ../data -c m5-forecasting-accuracy --force

Downloading m5-forecasting-accuracy.zip to ../data
  0%|                                               | 0.00/45.8M [00:00<?, ?B/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 45.8M/45.8M [00:00<00:00, 2.63GB/s]

In [18]:
# ----------- –®–ê–ì 1.2: –†–∞—Å–ø–∞–∫–æ–≤–∫–∞ –∞—Ä—Ö–∏–≤–∞ -----------
# üìÅ –¶–µ–ª—å: —Ä–∞–∑–∞—Ä—Ö–∏–≤–∏—Ä–æ–≤–∞—Ç—å m5-forecasting-accuracy.zip

import zipfile, os

zip_path = "../data/m5-forecasting-accuracy.zip"
extract_dir = "../data"

os.makedirs(extract_dir, exist_ok=True)

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)

print("‚úÖ –ê—Ä—Ö–∏–≤ —Ä–∞—Å–ø–∞–∫–æ–≤–∞–Ω –≤:", extract_dir)

‚úÖ –ê—Ä—Ö–∏–≤ —Ä–∞—Å–ø–∞–∫–æ–≤–∞–Ω –≤: ../data

In [19]:
# ----------- –®–∞–≥ 2.1: –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö ----------- #
# üì• –¶–µ–ª—å: —Å—á–∏—Ç–∞—Ç—å —Ç—Ä–∏ –∫–ª—é—á–µ–≤—ã—Ö —Ñ–∞–π–ª–∞ –∏ —Å—Ä–∞–∑—É —Å–Ω–∏–∑–∏—Ç—å –æ–±—ä—ë–º –ø–∞–º—è—Ç–∏

import pandas as pd
import numpy as np
import os

# –¢–∏–ø—ã –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –∫–æ–ª–æ–Ω–æ–∫ –≤ sales
dtype_sales = {col: 'category' for col in ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']}

# –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ
print("üì• –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ...")
sales = pd.read_csv(f"{extract_dir}/sales_train_validation.csv", dtype=dtype_sales)
calendar = pd.read_csv(f"{extract_dir}/calendar.csv", parse_dates=['date'])
prices = pd.read_csv(f"{extract_dir}/sell_prices.csv")

print(f"‚úÖ –§–æ—Ä–º–∞—Ç—ã —Å—á–∏—Ç–∞–Ω—ã. –†–∞–∑–º–µ—Ä—ã:")
print(f"sales    : {sales.shape}")
print(f"calendar : {calendar.shape}")
print(f"prices   : {prices.shape}")

üì• –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ...
‚úÖ –§–æ—Ä–º–∞—Ç—ã —Å—á–∏—Ç–∞–Ω—ã. –†–∞–∑–º–µ—Ä—ã:
sales    : (30490, 1919)
calendar : (1969, 14)
prices   : (6841121, 4)

In [20]:
# ----------- –®–∞–≥ 2.2: –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è —á–∏—Å–ª–æ–≤—ã—Ö –∫–æ–ª–æ–Ω–æ–∫ ----------- #
# üì¶ –¶–µ–ª—å: –ø—Ä–∏–≤–µ—Å—Ç–∏ —á–∏—Å–ª–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã –∫ –æ–ø—Ç–∏–º–∞–ª—å–Ω—ã–º —Ç–∏–ø–∞–º –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å —ç–∫–æ–Ω–æ–º–∏—é –ø–∞–º—è—Ç–∏

def mem_usage(df):
    return round(df.memory_usage(deep=True).sum() / 1024**2, 1)

mem_before = {
    'sales': mem_usage(sales),
    'calendar': mem_usage(calendar),
    'prices': mem_usage(prices)
}

# sales: —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞
sales_int = sales.select_dtypes(include='int').columns
sales[sales_int] = sales[sales_int].astype(np.uint16)

# calendar: float32 –∏ int16
calendar_float = calendar.select_dtypes(include='float').columns
calendar[calendar_float] = calendar[calendar_float].astype(np.float32)

calendar_int = calendar.select_dtypes(include='int').columns
calendar[calendar_int] = calendar[calendar_int].astype(np.int16)

# prices: int –∏ float
prices['wm_yr_wk'] = prices['wm_yr_wk'].astype(np.int16)
prices['sell_price'] = prices['sell_price'].astype(np.float32)

mem_after = {
    'sales': mem_usage(sales),
    'calendar': mem_usage(calendar),
    'prices': mem_usage(prices)
}

print("üìä –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –ø–∞–º—è—Ç–∏:")
for name in mem_before:
    before = mem_before[name]
    after = mem_after[name]
    delta = before - after
    perc = delta / before * 100 if before > 0 else 0
    print(f"‚ñ™ {name:8}: {before:>6} ‚ûú {after:>6} MiB ({perc:+.1f}% —ç–∫–æ–Ω–æ–º–∏—è)")

üìä –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –ø–∞–º—è—Ç–∏:
‚ñ™ sales   :  448.7 ‚ûú  115.0 MiB (+74.4% —ç–∫–æ–Ω–æ–º–∏—è)
‚ñ™ calendar:    0.6 ‚ûú    0.5 MiB (+16.7% —ç–∫–æ–Ω–æ–º–∏—è)
‚ñ™ prices  :  853.1 ‚ûú  787.9 MiB (+7.6% —ç–∫–æ–Ω–æ–º–∏—è)

In [21]:
# ----------- –®–∞–≥ 2.3: –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –∫–æ–ª–æ–Ω–æ–∫ ----------- #
# üè∑ –¶–µ–ª—å: –ø–µ—Ä–µ–≤–µ—Å—Ç–∏ —Å—Ç—Ä–æ–∫–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –≤ category –∏ —Å–æ–∫—Ä–∞—Ç–∏—Ç—å –ø–∞–º—è—Ç—å

cat_cols_sales = ['id', 'item_id', 'dept_id', 'store_id', 'cat_id', 'state_id']
cat_cols_calendar = ['weekday', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']
cat_cols_prices = ['item_id', 'store_id']

mem_before = {
    'sales': mem_usage(sales),
    'calendar': mem_usage(calendar),
    'prices': mem_usage(prices)
}

for col in cat_cols_sales:
    sales[col] = sales[col].astype('category')

for col in cat_cols_calendar:
    if col in calendar.columns:
        calendar[col] = calendar[col].astype('category')

for col in cat_cols_prices:
    prices[col] = prices[col].astype('category')

mem_after = {
    'sales': mem_usage(sales),
    'calendar': mem_usage(calendar),
    'prices': mem_usage(prices)
}

print("üè∑ –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:")
for name in mem_before:
    before = mem_before[name]
    after = mem_after[name]
    delta = before - after
    perc = delta / before * 100 if before > 0 else 0
    print(f"‚ñ™ {name:8}: {before:>6} ‚ûú {after:>6} MiB ({perc:+.1f}% —ç–∫–æ–Ω–æ–º–∏—è)")

üè∑ –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
‚ñ™ sales   :  115.0 ‚ûú  115.0 MiB (+0.0% —ç–∫–æ–Ω–æ–º–∏—è)
‚ñ™ calendar:    0.5 ‚ûú    0.2 MiB (+60.0% —ç–∫–æ–Ω–æ–º–∏—è)
‚ñ™ prices  :  787.9 ‚ûú   59.0 MiB (+92.5% —ç–∫–æ–Ω–æ–º–∏—è)

In [22]:
# ---------- –®–∞–≥ 2.4: –ü—Ä–æ–≤–µ—Ä–∫–∞ —Ü–µ–ª–æ—Å—Ç–Ω–æ—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö ---------- #
# üß™ –¶–µ–ª—å: —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ –¥–∞–Ω–Ω—ã–µ –æ—Å—Ç–∞–ª–∏—Å—å –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–º–∏ –ø–æ—Å–ª–µ –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏

print("üîç –ü—Ä–æ–≤–µ—Ä–∫–∞ —Ü–µ–ª–æ—Å—Ç–Ω–æ—Å—Ç–∏:")

# –ü—Ä–æ–≤–µ—Ä—è–µ–º —Ä–∞–∑–º–µ—Ä—ã
print(f"- –†–∞–∑–º–µ—Ä—ã sales:     {sales.shape}")
print(f"- –†–∞–∑–º–µ—Ä—ã calendar:  {calendar.shape}")
print(f"- –†–∞–∑–º–µ—Ä—ã prices:    {prices.shape}")

# –ü—Ä–æ–≤–µ—Ä—è–µ–º –±–∞–∑–æ–≤—É—é —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É
print("\nüß™ –ü—Ä–∏–º–µ—Ä—ã —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏:")
print(f"  –°—É–º–º–∞ –ø—Ä–æ–¥–∞–∂       : {sales.iloc[:, 6:].sum().sum():,.0f}")
print(f"  –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –¥–∞—Ç     : {calendar['date'].nunique()}")
print(f"  –¶–µ–Ω—ã: min={prices['sell_price'].min()}, max={prices['sell_price'].max()}")

# –ü—Ä–æ–≤–µ—Ä–∫–∞ —Ç–∏–ø–æ–≤
print("\nüìã –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:")
print("sales:")
print(sales.dtypes.value_counts())

print("\ncalendar:")
print(calendar.dtypes.value_counts())

print("\nprices:")
print(prices.dtypes.value_counts())

üîç –ü—Ä–æ–≤–µ—Ä–∫–∞ —Ü–µ–ª–æ—Å—Ç–Ω–æ—Å—Ç–∏:
- –†–∞–∑–º–µ—Ä—ã sales:     (30490, 1919)
- –†–∞–∑–º–µ—Ä—ã calendar:  (1969, 14)
- –†–∞–∑–º–µ—Ä—ã prices:    (6841121, 4)

üß™ –ü—Ä–∏–º–µ—Ä—ã —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏:
  –°—É–º–º–∞ –ø—Ä–æ–¥–∞–∂       : 65,695,409
  –£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –¥–∞—Ç     : 1969
  –¶–µ–Ω—ã: min=0.009999999776482582, max=107.31999969482422

üìã –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:
sales:
uint16      1913
category       1
category       1
category       1
category       1
category       1
category       1
Name: count, dtype: int64

calendar:
int16             7
datetime64[ns]    1
category          1
object            1
category          1
category          1
category          1
category          1
Name: count, dtype: int64

prices:
category    1
category    1
int16       1
float32     1
Name: count, dtype: int64

In [23]:
# ----------- –®–∞–≥ 3.1: –ü—Ä–∏–≤–æ–¥–∏–º –ø—Ä–æ–¥–∞–∂–∏ –∫ long-—Ñ–æ—Ä–º–∞—Ç—É ----------- #
id_cols = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']
product_info = sales[id_cols].copy()

# –£–¥–∞–ª—è–µ–º –º–µ—Ç–∞–∏–Ω—Ñ–æ, –æ—Å—Ç–∞–≤–ª—è–µ–º —Ç–æ–ª—å–∫–æ –ø—Ä–æ–¥–∞–∂–∏
sales_long = sales.drop(columns=id_cols)

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ long-—Ñ–æ—Ä–º–∞—Ç, id –ø–µ—Ä–µ–∏–º–µ–Ω—É–µ–º –≤ row_id
sales_long = sales_long.reset_index().melt(
    id_vars='index',
    var_name='d',
    value_name='sales'
).rename(columns={'index': 'row_id'})

print("‚úÖ Long-—Ñ–æ—Ä–º–∞—Ç –≥–æ—Ç–æ–≤:", sales_long.shape)
display(sales_long.sample(5))

‚úÖ Long-—Ñ–æ—Ä–º–∞—Ç –≥–æ—Ç–æ–≤: (58327370, 3)

          row_id       d  sales
44404723   11283  d_1457      0
46347990    3190  d_1521      0
45393976   24856  d_1489      1
12320107    2147   d_405      1
42210080   11920  d_1385      1

In [24]:
# ----------- –®–∞–≥ 3.2: –û–±—ä–µ–¥–∏–Ω—è–µ–º –∫–∞–ª–µ–Ω–¥–∞—Ä—å, —Ç–æ–≤–∞—Ä—ã, —Ü–µ–Ω—ã ----------- #

# –î–æ–±–∞–≤–∏–º –∫–∞–ª–µ–Ω–¥–∞—Ä–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –ø–æ "d"
sales_long = sales_long.merge(calendar, on='d', how='left')

# –î–æ–±–∞–≤–∏–º —Ç–æ–≤–∞—Ä–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –ø–æ row_id ‚Üí id
sales_long = sales_long.merge(product_info, left_on='row_id', right_index=True, how='left')

# –î–æ–±–∞–≤–∏–º —Ü–µ–Ω—É –ø–æ –∫–ª—é—á–∞–º
sales_long = sales_long.merge(
    prices[['store_id', 'item_id', 'wm_yr_wk', 'sell_price']],
    on=['store_id', 'item_id', 'wm_yr_wk'],
    how='left'
)

# –ü—Ä–æ–≤–µ—Ä–∫–∞
print("‚úÖ –î–∞–Ω–Ω—ã–µ –æ–±—ä–µ–¥–∏–Ω–µ–Ω—ã. –†–∞–∑–º–µ—Ä:", sales_long.shape)
display(sales_long.sample(5))

# –ü—Ä–æ–≤–µ—Ä–∏–º –ø—Ä–æ–ø—É—Å–∫–∏
missing_cols = ['item_id', 'dept_id', 'cat_id', 'store_id', 'sell_price']
print("\nüîç –î–æ–ª—è –ø—Ä–æ–ø—É—Å–∫–æ–≤:")
print(sales_long[missing_cols].isna().mean().sort_values(ascending=False))

‚úÖ –î–∞–Ω–Ω—ã–µ –æ–±—ä–µ–¥–∏–Ω–µ–Ω—ã. –†–∞–∑–º–µ—Ä: (58327370, 23)

,row_id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,...,snap_CA,snap_TX,snap_WI,id,item_id,dept_id,cat_id,store_id,state_id,sell_price
55440273,9453,d_1819,0,2016-01-21,11551,Thursday,6,1,2016,NaN,...,0,0,0,HOBBIES_1_315_CA_4_validation,HOBBIES_1_315,HOBBIES_1,HOBBIES,CA_4,CA,4.97
39084289,26599,d_1282,2,2014-08-02,11427,Saturday,1,8,2014,NaN,...,1,0,1,FOODS_2_381_WI_2_validation,FOODS_2_381,FOODS_2,FOODS,WI_2,WI,2.75
5239274,25484,d_172,0,2011-07-19,11125,Tuesday,4,7,2011,NaN,...,0,0,0,HOUSEHOLD_1_537_WI_2_validation,HOUSEHOLD_1_537,HOUSEHOLD_1,HOUSEHOLD,WI_2,WI,15.97
34643247,6607,d_1137,0,2014-03-10,11406,Monday,3,3,2014,NaN,...,1,0,0,HOBBIES_2_094_CA_3_validation,HOBBIES_2_094,HOBBIES_2,HOBBIES,CA_3,CA,2.47
23594219,25449,d_774,0,2013-03-12,11307,Tuesday,4,3,2013,NaN,...,0,1,1,HOUSEHOLD_1_502_WI_2_validation,HOUSEHOLD_1_502,HOUSEHOLD_1,HOUSEHOLD,WI_2,WI,NaN

üîç –î–æ–ª—è –ø—Ä–æ–ø—É—Å–∫–æ–≤:
sell_price    0.210869
item_id       0.000000
dept_id       0.000000
cat_id        0.000000
store_id      0.000000
dtype: float64

In [25]:
# ----------- –®–∞–≥ 3.3: –û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Ü–µ–Ω–∞—Ö ----------- #
sales_long['has_price'] = sales_long['sell_price'].notna().astype('int')

print("‚úÖ –î–æ–±–∞–≤–ª–µ–Ω —Ñ–ª–∞–≥ –Ω–∞–ª–∏—á–∏—è —Ü–µ–Ω—ã. –ü—Ä–∏–º–µ—Ä:")
display(sales_long[['sell_price', 'has_price']].sample(5))

‚úÖ –î–æ–±–∞–≤–ª–µ–Ω —Ñ–ª–∞–≥ –Ω–∞–ª–∏—á–∏—è —Ü–µ–Ω—ã. –ü—Ä–∏–º–µ—Ä:

          sell_price  has_price
14871790        2.38          1
20541633        2.47          1
18435186        7.97          1
56460759        4.44          1
4622056          NaN          0

In [26]:
# ----------- –®–∞–≥ 4.1: –í—Ä–µ–º–µ–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ ----------- #
# üß† –¶–µ–ª—å: –∏–∑–≤–ª–µ—á—å day, weekday, month, quarter –∏ –¥—Ä—É–≥–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –∏–∑ –¥–∞—Ç—ã

# –£–±–µ–¥–∏–º—Å—è, —á—Ç–æ date ‚Äî —ç—Ç–æ datetime
sales_long['date'] = pd.to_datetime(sales_long['date'])

# –í—Ä–µ–º–µ–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏
sales_long['day']        = sales_long['date'].dt.day
sales_long['weekday']    = sales_long['date'].dt.day_name()
sales_long['weekday_num']= sales_long['date'].dt.weekday  # Monday = 0
sales_long['is_weekend'] = sales_long['weekday_num'].isin([5, 6]).astype(int)
sales_long['month']      = sales_long['date'].dt.month
sales_long['quarter']    = sales_long['date'].dt.quarter
sales_long['year']       = sales_long['date'].dt.year
sales_long['week']       = sales_long['date'].dt.isocalendar().week.astype('int16')

print("‚úÖ –í—Ä–µ–º–µ–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –¥–æ–±–∞–≤–ª–µ–Ω—ã. –ü—Ä–∏–º–µ—Ä:")
display(sales_long[['date', 'weekday', 'is_weekend', 'month', 'quarter', 'week']].sample(5))

‚úÖ –í—Ä–µ–º–µ–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –¥–æ–±–∞–≤–ª–µ–Ω—ã. –ü—Ä–∏–º–µ—Ä:

               date    weekday  is_weekend  month  quarter  week
52134616 2015-10-04     Sunday           1     10        4    40
22967978 2013-02-20  Wednesday           0      2        1     8
50177204 2015-08-01   Saturday           1      8        3    31
13799850 2012-04-25  Wednesday           0      4        2    17
13252294 2012-04-07   Saturday           1      4        2    14

In [27]:
# ----------- –®–∞–≥ 4.2: –ü—Ä–∏–∑–Ω–∞–∫–∏ —Å–æ–±—ã—Ç–∏–π –∏ –ª–æ–≥–∞—Ä–∏—Ñ–º —Ü–µ–Ω—ã ----------- #
# üéØ –¶–µ–ª—å: –¥–æ–±–∞–≤–∏—Ç—å —Ñ–ª–∞–≥ —Å–æ–±—ã—Ç–∏—è –∏ log-–ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Ü–µ–Ω—ã

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Ü–µ–Ω—É (log1p ‚Äî –±–µ–∑–æ–ø–∞—Å–Ω–æ –¥–ª—è –Ω—É–ª–µ–π)
sales_long['log_price'] = np.log1p(sales_long['sell_price'])

# –ü—Ä–∏–∑–Ω–∞–∫ –Ω–∞–ª–∏—á–∏—è —Å–æ–±—ã—Ç–∏—è
sales_long['is_event'] = (
    sales_long['event_name_1'].notna() | sales_long['event_name_2'].notna()
).astype('int')

print("‚úÖ –î–æ–±–∞–≤–ª–µ–Ω—ã –ø—Ä–∏–∑–Ω–∞–∫–∏ is_event –∏ log_price. –ü—Ä–∏–º–µ—Ä:")
display(sales_long[['sell_price', 'log_price', 'event_name_1', 'event_name_2', 'is_event']].sample(5))

‚úÖ –î–æ–±–∞–≤–ª–µ–Ω—ã –ø—Ä–∏–∑–Ω–∞–∫–∏ is_event –∏ log_price. –ü—Ä–∏–º–µ—Ä:

          sell_price  log_price event_name_1 event_name_2  is_event
8125590          NaN        NaN          NaN          NaN         0
43361575        2.00   1.098612          NaN          NaN         0
13782250        4.68   1.736951          NaN          NaN         0
18816236         NaN        NaN          NaN          NaN         0
27632869        1.98   1.091923          NaN          NaN         0

In [28]:
# –î–æ–ª—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ sell_price –∏ log_price
print("üßÆ –î–æ–ª—è –ø—Ä–æ–ø—É—Å–∫–æ–≤:")
print(sales_long[['sell_price', 'log_price']].isna().mean())

# –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —Ñ–ª–∞–≥–∞ —Å–æ–±—ã—Ç–∏–π
print("\nüßæ –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ is_event:")
print(sales_long['is_event'].value_counts(normalize=True))

# –ü—Ä–∏–º–µ—Ä—ã —Å is_event == 1
print("\nüîç –ü—Ä–∏–º–µ—Ä—ã —Å—Ç—Ä–æ–∫ —Å —Å–æ–±—ã—Ç–∏—è–º–∏:")
display(sales_long[sales_long['is_event'] == 1][['date', 'event_name_1', 'event_name_2', 'is_event']].sample(5))

üßÆ –î–æ–ª—è –ø—Ä–æ–ø—É—Å–∫–æ–≤:
sell_price    0.210869
log_price     0.210869
dtype: float64

üßæ –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ is_event:
is_event
0    0.919498
1    0.080502
Name: proportion, dtype: float64

üîç –ü—Ä–∏–º–µ—Ä—ã —Å—Ç—Ä–æ–∫ —Å —Å–æ–±—ã—Ç–∏—è–º–∏:

               date   event_name_1    event_name_2  is_event
2951616  2011-05-05  Cinco De Mayo             NaN         1
35903788 2014-04-20         Easter  OrthodoxEaster         1
34498953 2014-03-05      LentStart             NaN         1
54286434 2015-12-14   Chanukah End             NaN         1
30156682 2013-10-14    ColumbusDay             NaN         1

In [ ]:
# ----------- –®–∞–≥ 5.1: –õ–∞–≥–∏ –∏ —Å–∫–æ–ª—å–∑—è—â–∏–µ –æ–∫–Ω–∞ ----------- #
# üéØ –¶–µ–ª—å: –¥–æ–±–∞–≤–∏—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–∏ –æ—Ç—Å—Ç–∞–≤–∞–Ω–∏—è –∏ —Å–≥–ª–∞–∂–∏–≤–∞–Ω–∏—è –ø–æ –ø—Ä–æ–¥–∞–∂–∞–º

group_cols = ['id']

# –î–æ–±–∞–≤–∏–º –ª–∞–≥–∏ (1, 7, 14, 28 –¥–Ω–µ–π)
for lag in [1, 7, 14, 28]:
    sales_long[f'lag_{lag}'] = (
        sales_long.groupby(group_cols, observed=True)['sales']
        .shift(lag)
    )

# –î–æ–±–∞–≤–∏–º —Å–∫–æ–ª—å–∑—è—â–∏–µ —Å—Ä–µ–¥–Ω–∏–µ (7, 14, 28 –¥–Ω–µ–π)
for window in [7, 14, 28]:
    sales_long[f'rolling_mean_{window}'] = (
        sales_long.groupby(group_cols, observed=True)['sales']
        .transform(lambda x: x.shift(1).rolling(window).mean())
    )

# ‚úÖ –í–∞–ª–∏–¥–∞—Ü–∏—è: –ø—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –∏ –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–µ NaN –≤ —Å–µ—Ä–µ–¥–∏–Ω–µ
print("üìä –ü—Ä–∏–º–µ—Ä—ã –ª–∞–≥–æ–≤ –∏ —Å–∫–æ–ª—å–∑—è—â–∏—Ö —Å—Ä–µ–¥–Ω–∏—Ö:")
cols_to_check = [f'lag_{l}' for l in [1, 7, 14, 28]] + [f'rolling_mean_{w}' for w in [7, 14, 28]]
display(sales_long[cols_to_check].dropna().sample(5))

# üß™ –ü—Ä–æ–≤–µ—Ä–∫–∞: —Å–∫–æ–ª—å–∫–æ –ø—Ä–æ—Ü–µ–Ω—Ç–æ–≤ NaN ‚Äî –¥–æ–ø—É—Å—Ç–∏–º—ã —Ç–æ–ª—å–∫–æ –≤ –Ω–∞—á–∞–ª–µ —Ä—è–¥–æ–≤
print("\nüîé –î–æ–ª—è –ø—Ä–æ–ø—É—Å–∫–æ–≤:")
print(sales_long[cols_to_check].isna().mean().sort_values(ascending=False))

In [ ]:
# ---------- –®–∞–≥ 5.2: –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –ø–æ —Ç–æ–≤–∞—Ä–∞–º –∏ –º–∞–≥–∞–∑–∏–Ω–∞–º ---------- #
# üßÆ –¶–µ–ª—å: –¥–æ–±–∞–≤–∏—Ç—å mean, median, std, min, max –ø–æ —Ç–æ–≤–∞—Ä–∞–º –∏ –º–∞–≥–∞–∑–∏–Ω–∞–º

agg_funcs = ['mean', 'median', 'std', 'min', 'max']
group_targets = {
    'id': 'id',
    'store': 'store_id'
}

for group_name, group_col in group_targets.items():
    for func in agg_funcs:
        col_name = f'{group_name}_sales_{func}'
        sales_long[col_name] = (
            sales_long.groupby(group_col, observed=True)['sales']
            .transform(func)
        )

print("‚úÖ –î–æ–±–∞–≤–ª–µ–Ω—ã –∞–≥—Ä–µ–≥–∞—Ç—ã –ø–æ —Ç–æ–≤–∞—Ä–∞–º –∏ –º–∞–≥–∞–∑–∏–Ω–∞–º.")
cols_added = [f'{g}_sales_{f}' for g in group_targets for f in agg_funcs]
display(sales_long[cols_added].dropna().sample(5))

# –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–æ–ª–∏ –ø—Ä–æ–ø—É—Å–∫–æ–≤
print("\nüßÆ –ü—Ä–æ–ø—É—Å–∫–∏ –≤ –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–∞—Ö:")
print(sales_long[cols_added].isna().mean().sort_values(ascending=False))

In [ ]:
# ---------- –®–∞–≥ 5.3: EWMA-—Ç—Ä–µ–Ω–¥—ã –ø–æ –ø—Ä–æ–¥–∞–∂–∞–º ---------- #
# üéØ –¶–µ–ª—å: –¥–æ–±–∞–≤–∏—Ç—å —ç–∫—Å–ø–æ–Ω–µ–Ω—Ü–∏–∞–ª—å–Ω–æ –≤–∑–≤–µ—à–µ–Ω–Ω–æ–µ —Å—Ä–µ–¥–Ω–µ–µ (EWMA) –ø–æ –ø—Ä–æ–¥–∞–∂–∞–º

ewma_spans = [7, 14, 28]
for span in ewma_spans:
    col_name = f'ewma_{span}'
    sales_long[col_name] = (
        sales_long.groupby('id', observed=True)['sales']
        .transform(lambda x: x.shift(1).ewm(span=span).mean())
    )

print("‚úÖ EWMA-—Ç—Ä–µ–Ω–¥—ã –¥–æ–±–∞–≤–ª–µ–Ω—ã:")
display(sales_long[[f'ewma_{s}' for s in ewma_spans]].dropna().sample(5))

# –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–æ–ª–∏ –ø—Ä–æ–ø—É—Å–∫–æ–≤ ‚Äî –¥–æ–ø—É—Å—Ç–∏–º—ã –≤ –Ω–∞—á–∞–ª–µ —Ä—è–¥–∞
print("\nüìâ –ü—Ä–æ–ø—É—Å–∫–∏ –≤ EWMA:")
print(sales_long[[f'ewma_{s}' for s in ewma_spans]].isna().mean().sort_values(ascending=False))

In [ ]:
# ----------- –®–∞–≥ 5.4: STL-–¥–µ–∫–æ–º–ø–æ–∑–∏—Ü–∏—è –ø–æ —Ü–µ–Ω–µ (—É—Å–∫–æ—Ä–µ–Ω–Ω–∞—è) ----------- #
# üß† –¶–µ–ª—å: –≤—ã–¥–µ–ª–∏—Ç—å —Ç—Ä–µ–Ω–¥ –∏ —Å–µ–∑–æ–Ω–Ω–æ—Å—Ç—å –ø–æ `sell_price`

from statsmodels.tsa.seasonal import STL
import numpy as np

# –ü–∞—Ä–∞–º–µ—Ç—Ä—ã
season_length = 28

# –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã–º —Ç–æ–≤–∞—Ä–∞–º
def apply_stl(group):
    """–í–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Ç—Ä–µ–Ω–¥ –∏ —Å–µ–∑–æ–Ω–Ω–æ—Å—Ç—å, –µ—Å–ª–∏ —Ä—è–¥ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –¥–ª–∏–Ω–Ω—ã–π"""
    if group['sell_price'].notna().sum() >= 2 * season_length:
        result = STL(group['sell_price'].interpolate(), period=season_length, robust=True).fit()
        return pd.DataFrame({
            'stl_trend': result.trend,
            'stl_seasonal': result.seasonal
        }, index=group.index)
    else:
        return pd.DataFrame({
            'stl_trend': np.nan,
            'stl_seasonal': np.nan
        }, index=group.index)

# –ü—Ä–∏–º–µ–Ω—è–µ–º STL
print("üöÄ –ó–∞–ø—É—Å–∫–∞–µ–º STL-–¥–µ–∫–æ–º–ø–æ–∑–∏—Ü–∏—é –ø–æ —Ü–µ–Ω–µ:")
stl_result = sales_long.groupby('id', observed=True).apply(apply_stl).reset_index(level=0, drop=True)

# –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –∫ sales_long
sales_long = sales_long.join(stl_result)

# –ü—Ä–æ–≤–µ—Ä–∫–∞
print("‚úÖ STL-–¥–µ–∫–æ–º–ø–æ–∑–∏—Ü–∏—è –∑–∞–≤–µ—Ä—à–µ–Ω–∞.")
display(sales_long[['sell_price', 'stl_trend', 'stl_seasonal']].dropna().sample(5))

print("\nüß™ –ü—Ä–æ–ø—É—Å–∫–∏ –ø–æ—Å–ª–µ STL:")
print(sales_long[['stl_trend', 'stl_seasonal']].isna().mean())