# –ü—Ä–æ–≥–Ω–æ–∑–∏—Ä–æ–≤–∞–Ω–∏–µ —Ü–µ–Ω –ø–æ—Ç—Ä–µ–±–∏—Ç–µ–ª—å—Å–∫–æ–≥–æ —Ä–∏—Ç–µ–π–ª–∞ –ø–æ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ –Ω–∞ –æ—Å–Ω–æ–≤–µ –≥–ª—É–±–æ–∫–∏—Ö –Ω–µ–π—Ä–æ–Ω–Ω—ã—Ö —Å–µ—Ç–µ–π
__–í—ã–ø–æ–ª–Ω–∏–ª:__ *–î–æ–º—á–µ–Ω–∫–æ –ú–∞–∫—Å–∏–º*

__–°—Ç—É–¥–µ–Ω—Ç –≥—Ä—É–ø–ø—ã:__ *–†–ò–ú-130962*

### –®–∞–≥ 1: –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [1]:
# ----------- –®–ê–ì 1.1: –°–∫–∞—á–∏–≤–∞–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ -----------
# üì¶ –¶–µ–ª—å: –∑–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –∏–∑ Kaggle

# –î–ª—è –ª–æ–∫–∞–ª—å–Ω–æ–≥–æ –∑–∞–ø—É—Å–∫–∞ –∑–∞–≥—Ä—É–∑–∏—Ç–µ kaggle.json –≤ ~/.kaggle/kaggle.json –∏ –¥–∞–π—Ç–µ –ø—Ä–∞–≤–∞:
# !chmod 600 ~/.kaggle/kaggle.json

# –î–ª—è –∑–∞–ø—É—Å–∫–∞ –≤ colab

# from google.colab import files
# uploaded = files.upload('/root/.kaggle')
# !chmod 600 /root/.kaggle/kaggle.json

!kaggle competitions download -p ../data -c m5-forecasting-accuracy --force

Downloading m5-forecasting-accuracy.zip to ../data
  0%|                                               | 0.00/45.8M [00:00<?, ?B/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 45.8M/45.8M [00:00<00:00, 2.83GB/s]

In [2]:
# ----------- –®–ê–ì 1.2: –†–∞—Å–ø–∞–∫–æ–≤–∫–∞ –∞—Ä—Ö–∏–≤–∞ -----------
# üìÅ –¶–µ–ª—å: —Ä–∞–∑–∞—Ä—Ö–∏–≤–∏—Ä–æ–≤–∞—Ç—å m5-forecasting-accuracy.zip

import zipfile, os

zip_path = "../data/m5-forecasting-accuracy.zip"
extract_dir = "../data"

os.makedirs(extract_dir, exist_ok=True)

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)

print("‚úÖ –ê—Ä—Ö–∏–≤ —Ä–∞—Å–ø–∞–∫–æ–≤–∞–Ω –≤:", extract_dir)

‚úÖ –ê—Ä—Ö–∏–≤ —Ä–∞—Å–ø–∞–∫–æ–≤–∞–Ω –≤: ../data

In [3]:
# ----------- –®–ê–ì 1.3: –ò–º–ø–æ—Ä—Ç—ã, –Ω–∞—Å—Ç—Ä–æ–π–∫–∏ –∏ –ø—É—Ç–∏ -----------
# üéØ –¶–µ–ª—å: –ø–æ–¥–∫–ª—é—á–∏—Ç—å –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –Ω–∞—Å—Ç—Ä–æ–∏—Ç—å –æ–∫—Ä—É–∂–µ–Ω–∏–µ

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from pathlib import Path
import gc
import warnings

warnings.filterwarnings("ignore")
sns.set_theme(style="whitegrid")

# –ü—É—Ç–∏ –∫ –¥–∞–Ω–Ω—ã–º
DATA_DIR = Path("../data")
SAVE_DIR = Path("../data/processed")
SAVE_DIR.mkdir(parents=True, exist_ok=True)

# –§—É–Ω–∫—Ü–∏—è –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏ –ø–∞–º—è—Ç–∏
def reduce_mem_usage(df: pd.DataFrame, verbose=True) -> pd.DataFrame:
    start_mem = df.memory_usage(deep=True).sum() / 1024 ** 2
    for col in df.columns:
        col_type = df[col].dtype
        if pd.api.types.is_integer_dtype(col_type):
            df[col] = pd.to_numeric(df[col], downcast="integer")
        elif pd.api.types.is_float_dtype(col_type):
            df[col] = pd.to_numeric(df[col], downcast="float")
        elif col_type == object:
            df[col] = df[col].astype("category")
    end_mem = df.memory_usage(deep=True).sum() / 1024 ** 2
    if verbose:
        print(f"üîπ Memory usage: {start_mem:.2f} ‚Üí {end_mem:.2f} MB "
              f"({100 * (start_mem - end_mem) / start_mem:.1f}% savings)")
    return df

In [4]:
# ----------- –®–ê–ì 1.4: –ó–∞–≥—Ä—É–∑–∫–∞ CSV-—Ñ–∞–π–ª–æ–≤ -----------
# üéØ –¶–µ–ª—å: —Å—á–∏—Ç–∞—Ç—å –≤—Å–µ —Ç–∞–±–ª–∏—Ü—ã —Å –Ω—É–∂–Ω—ã–º–∏ —Ç–∏–ø–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö

print("üì• –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ...")

# –¢–∏–ø—ã –¥–ª—è sales
dtype_sales = {
    'id': 'category',
    'item_id': 'category',
    'dept_id': 'category',
    'cat_id': 'category',
    'store_id': 'category',
    'state_id': 'category'
}

sales = pd.read_csv(DATA_DIR / "sales_train_validation.csv", dtype=dtype_sales)

calendar = pd.read_csv(
    DATA_DIR / "calendar.csv",
    parse_dates=['date'],
    dtype={
        'weekday': 'category',
        'wm_yr_wk': 'int16',
        'event_name_1': 'category',
        'event_type_1': 'category',
        'event_name_2': 'category',
        'event_type_2': 'category',
        'snap_CA': 'int8',
        'snap_TX': 'int8',
        'snap_WI': 'int8'
    }
)

prices = pd.read_csv(
    DATA_DIR / "sell_prices.csv",
    dtype={
        'store_id': 'category',
        'item_id': 'category',
        'wm_yr_wk': 'int16',
        'sell_price': 'float32'
    }
)

üì• –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ...

In [5]:
# ----------- –®–ê–ì 1.5: –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –ø–∞–º—è—Ç–∏ -----------
# üéØ –¶–µ–ª—å: –º–∏–Ω–∏–º–∏–∑–∏—Ä–æ–≤–∞—Ç—å RAM-–ø–æ—Ç—Ä–µ–±–ª–µ–Ω–∏–µ

print("\nüß† –û–ø—Ç–∏–º–∏–∑–∏—Ä—É–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –ø–∞–º—è—Ç–∏:")
sales = reduce_mem_usage(sales)
calendar = reduce_mem_usage(calendar)
prices = reduce_mem_usage(prices)

# –†–∞–∑–º–µ—Ä–Ω–æ—Å—Ç–∏
print("\nüìê –†–∞–∑–º–µ—Ä—ã —Ç–∞–±–ª–∏—Ü:")
for name, df in [('sales', sales), ('calendar', calendar), ('prices', prices)]:
    print(f"  {name:<8}: {df.shape}")

üß† –û–ø—Ç–∏–º–∏–∑–∏—Ä—É–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –ø–∞–º—è—Ç–∏:
üîπ Memory usage: 448.75 ‚Üí 96.82 MB (78.4% savings)
üîπ Memory usage: 0.19 ‚Üí 0.21 MB (-15.8% savings)
üîπ Memory usage: 58.96 ‚Üí 58.96 MB (0.0% savings)

üìê –†–∞–∑–º–µ—Ä—ã —Ç–∞–±–ª–∏—Ü:
  sales   : (30490, 1919)
  calendar: (1969, 14)
  prices  : (6841121, 4)

In [6]:
# ----------- –®–ê–ì 1.6: Wide ‚Üí Long —Ñ–æ—Ä–º–∞—Ç + –ø—Ä–æ–≤–µ—Ä–∫–∞ -----------
# üéØ –¶–µ–ª—å: –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å —Ç–∞–±–ª–∏—Ü—É –≤ –¥–ª–∏–Ω–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç –∏ —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∫–æ—Ä—Ä–µ–∫—Ç–µ–Ω

print("üîÑ –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º sales –≤ long-—Ñ–æ—Ä–º–∞—Ç...")

sales_long = pd.melt(
    sales,
    id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'],
    var_name='d',
    value_name='sales'
)

# ‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞ 1: –†–∞–∑–º–µ—Ä –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å 30490 * 1913
expected_rows = sales.shape[0] * (sales.shape[1] - 6)  # 6 id-–∫–æ–ª–æ–Ω–æ–∫
print(f"‚ñ∂Ô∏è –û–∂–∏–¥–∞–µ–º–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫: {expected_rows}")
print(f"‚ñ∂Ô∏è –ü–æ–ª—É—á–µ–Ω–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫: {sales_long.shape[0]}")
assert sales_long.shape[0] == expected_rows, "‚ùå –†–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å –Ω–µ —Å–æ–≤–ø–∞–¥–∞–µ—Ç!"

# ‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞ 2: –ü—Ä–∏–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö
print("\nüîç –ü—Ä–∏–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö:")
display(sales_long.head())

# ‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞ 3: –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ 'd'
print("\nüìä –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ 'd':")
print(sales_long['d'].nunique(), "—É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –¥–∞—Ç (–æ–∂–∏–¥–∞–µ–º 1913)")
print("–î–∏–∞–ø–∞–∑–æ–Ω:", sales_long['d'].min(), "‚Üí", sales_long['d'].max())

# ‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞ 4: –û—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è
missing = sales_long.isnull().sum()
print("\nüö® –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:")
print(missing[missing > 0] if missing.any() else "–ù–µ—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π ‚úÖ")

üîÑ –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º sales –≤ long-—Ñ–æ—Ä–º–∞—Ç...
‚ñ∂Ô∏è –û–∂–∏–¥–∞–µ–º–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫: 58327370
‚ñ∂Ô∏è –ü–æ–ª—É—á–µ–Ω–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫: 58327370

üîç –ü—Ä–∏–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö:

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0

üìä –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ 'd':
1913 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –¥–∞—Ç (–æ–∂–∏–¥–∞–µ–º 1913)
–î–∏–∞–ø–∞–∑–æ–Ω: d_1 ‚Üí d_999

üö® –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:
–ù–µ—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π ‚úÖ

In [7]:
# ----------- –®–ê–ì 1.7.1: –î–æ–±–∞–≤–ª—è–µ–º 'wm_yr_wk' –≤ sales_long -----------
# üéØ –î–ª—è –ø–æ—Å–ª–µ–¥—É—é—â–µ–≥–æ join —Å —Ü–µ–Ω–∞–º–∏

print("üóì –î–æ–±–∞–≤–ª—è–µ–º 'wm_yr_wk' –≤ sales_long...")
sales_long = sales_long.merge(
    calendar[['d', 'wm_yr_wk']],
    how='left',
    on='d'
)
print(f"‚úÖ –†–∞–∑–º–µ—Ä –ø–æ—Å–ª–µ wm_yr_wk merge: {sales_long.shape}")

# –ü—Ä–æ–≤–µ—Ä–∫–∞ –æ—Ç—Å—É—Ç—Å—Ç–≤–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤
assert sales_long['wm_yr_wk'].notnull().all(), "‚ùå –ï—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ 'wm_yr_wk'"
sales_long['wm_yr_wk'].isnull().sum()

üóì –î–æ–±–∞–≤–ª—è–µ–º 'wm_yr_wk' –≤ sales_long...
‚úÖ –†–∞–∑–º–µ—Ä –ø–æ—Å–ª–µ wm_yr_wk merge: (58327370, 9)

np.int64(0)

In [8]:
# ----------- –®–ê–ì 1.7.2: –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º —Ü–µ–Ω—ã -----------
# üéØ –ò—Å–ø–æ–ª—å–∑—É–µ–º store_id, item_id, wm_yr_wk

print("üí≤ –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º —Ü–µ–Ω—ã –∏–∑ sell_prices...")
sales_long = sales_long.merge(
    prices,
    how='left',
    on=['store_id', 'item_id', 'wm_yr_wk']
)
print(f"‚úÖ –†–∞–∑–º–µ—Ä –ø–æ—Å–ª–µ merge —Å sell_prices: {sales_long.shape}")

# –ü—Ä–æ–≤–µ—Ä–∫–∞: —Å–∫–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –¥–æ ffill
initial_missing = sales_long['sell_price'].isna().sum()
print(f"üîç –ü—Ä–æ–ø—É—â–µ–Ω–æ sell_price –î–û –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è: {initial_missing:,}")

üí≤ –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º —Ü–µ–Ω—ã –∏–∑ sell_prices...
‚úÖ –†–∞–∑–º–µ—Ä –ø–æ—Å–ª–µ merge —Å sell_prices: (58327370, 10)
üîç –ü—Ä–æ–ø—É—â–µ–Ω–æ sell_price –î–û –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è: 12,299,413

In [9]:
# ----------- –®–ê–ì 1.7.3: –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –∫–∞–ª–µ–Ω–¥–∞—Ä—å –ø–æ–ª–Ω–æ—Å—Ç—å—é -----------
# üéØ –î–æ–±–∞–≤–ª—è–µ–º date, event, snap, weekday, etc.

print("üìÖ –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º calendar...")
df = sales_long.merge(calendar, how='left', on='d')
print(f"‚úÖ –†–∞–∑–º–µ—Ä –∏—Ç–æ–≥–æ–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã –ø–æ—Å–ª–µ merge —Å calendar: {df.shape}")

üìÖ –ü—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º calendar...
‚úÖ –†–∞–∑–º–µ—Ä –∏—Ç–æ–≥–æ–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã –ø–æ—Å–ª–µ merge —Å calendar: (58327370, 23)

In [10]:
# ----------- –®–ê–ì 1.7.4: –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ sell_price -----------
# üéØ –ü–æ–¥—Ç—è–≥–∏–≤–∞–µ–º –ø–æ—Å–ª–µ–¥–Ω—é—é –∏–∑–≤–µ—Å—Ç–Ω—É—é —Ü–µ–Ω—É –≤–Ω—É—Ç—Ä–∏ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã (store_id, item_id)

print("üß™ –ó–∞–ø–æ–ª–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –≤ sell_price (–ø–æ store_id, item_id)...")

df['sell_price'] = (
    df.groupby(['store_id', 'item_id'])['sell_price']
      .apply(lambda s: s.ffill().bfill())
      .reset_index(drop=True)  # üõ†Ô∏è –∫–ª—é—á–µ–≤–æ–π —Ñ–∏–∫—Å
)

after_fill_missing = df['sell_price'].isna().sum()
print(f"üîç –ü—Ä–æ–ø—É—â–µ–Ω–æ sell_price –ü–û–°–õ–ï –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è: {after_fill_missing:,}")
assert after_fill_missing < initial_missing, "‚ùå –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –Ω–µ —Å—Ä–∞–±–æ—Ç–∞–ª–æ"

üß™ –ó–∞–ø–æ–ª–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –≤ sell_price (–ø–æ store_id, item_id)...
üîç –ü—Ä–æ–ø—É—â–µ–Ω–æ sell_price –ü–û–°–õ–ï –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è: 0

In [11]:
# ----------- –®–ê–ì 1.7.5: –§–∏–Ω–∞–ª—å–Ω–∞—è –æ—á–∏—Å—Ç–∫–∞ –∏ –ø—Ä–æ–≤–µ—Ä–∫–∞ -----------
# üéØ –£–¥–∞–ª—è–µ–º —Ä–µ–¥–∫–∏–µ —Å—Ç—Ä–æ–∫–∏ –±–µ–∑ —Ü–µ–Ω—ã (–µ—Å–ª–∏ –≤–¥—Ä—É–≥ –æ—Å—Ç–∞–ª–∏—Å—å)

print("üßπ –£–¥–∞–ª—è–µ–º —Å—Ç—Ä–æ–∫–∏ –±–µ–∑ —Ü–µ–Ω—ã (–µ—Å–ª–∏ –æ—Å—Ç–∞–ª–∏—Å—å)...")
df = df.dropna(subset=['sell_price'])

print(f"‚úÖ –§–∏–Ω–∞–ª—å–Ω—ã–π —Ä–∞–∑–º–µ—Ä df: {df.shape}")
assert df['sell_price'].isna().sum() == 0, "‚ùå –ü—Ä–æ–ø—É—Å–∫–∏ –æ—Å—Ç–∞–ª–∏—Å—å –≤ sell_price"
print("‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞ –ø—Ä–æ–π–¥–µ–Ω–∞: NaN –≤ sell_price —É—Å—Ç—Ä–∞–Ω–µ–Ω—ã –æ–∫–æ–Ω—á–∞—Ç–µ–ª—å–Ω–æ ‚úÖ")

# –ü—Ä–∏–º–µ—Ä —Ñ–∏–Ω–∞–ª—å–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö
display(df.head())

üßπ –£–¥–∞–ª—è–µ–º —Å—Ç—Ä–æ–∫–∏ –±–µ–∑ —Ü–µ–Ω—ã (–µ—Å–ª–∏ –æ—Å—Ç–∞–ª–∏—Å—å)...
‚úÖ –§–∏–Ω–∞–ª—å–Ω—ã–π —Ä–∞–∑–º–µ—Ä df: (58327370, 23)
‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞ –ø—Ä–æ–π–¥–µ–Ω–∞: NaN –≤ sell_price —É—Å—Ç—Ä–∞–Ω–µ–Ω—ã –æ–∫–æ–Ω—á–∞—Ç–µ–ª—å–Ω–æ ‚úÖ

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,wm_yr_wk_x,sell_price,...,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,11101,9.58,...,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,11101,9.58,...,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,11101,9.58,...,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,11101,9.58,...,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,11101,9.58,...,1,1,2011,NaN,NaN,NaN,NaN,0,0,0

### –®–∞–≥ 2: –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (Feature Engineering)

In [12]:
# ----------- –®–ê–ì 2.1: –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –ª–∞–≥–æ–≤ —Å —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–æ–π –∏ float32 -----------

print("üîÅ –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–µ—Ä–µ–¥ –≥–µ–Ω–µ—Ä–∞—Ü–∏–µ–π –ª–∞–≥–æ–≤...")
df = df.sort_values(['id', 'date'])  # ‚Üê –≥–∞—Ä–∞–Ω—Ç–∏—Ä—É–µ–º –ø–æ—Ä—è–¥–æ–∫

print("üîÅ –ì–µ–Ω–µ—Ä–∏—Ä—É–µ–º –ª–∞–≥–∏: [1, 7, 14, 28, 56]")

LAG_DAYS = [1, 7, 14, 28, 56]

for lag in LAG_DAYS:
    df[f'lag_{lag}'] = (
        df.groupby("id")["sales"]
          .shift(lag)
          .astype("float32")  # ‚Üê —ç–∫–æ–Ω–æ–º–∏–º –ø–∞–º—è—Ç—å
    )

# –ü—Ä–æ–≤–µ—Ä–∫–∞
lag_cols = [f'lag_{l}' for l in LAG_DAYS]
missing_counts = df[lag_cols].isna().sum()
total_missing = missing_counts.sum()

print("\nüîç –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ –ª–∞–≥–∞—é—â–∏–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º:")
print(missing_counts)
print(f"\nüìâ –í—Å–µ–≥–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –≤ –ª–∞–≥–∞—Ö: {total_missing:,}")
display(df[['id', 'date', 'sales'] + lag_cols].head(10))

üîÅ –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–µ—Ä–µ–¥ –≥–µ–Ω–µ—Ä–∞—Ü–∏–µ–π –ª–∞–≥–æ–≤...
üîÅ –ì–µ–Ω–µ—Ä–∏—Ä—É–µ–º –ª–∞–≥–∏: [1, 7, 14, 28, 56]

üîç –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ –ª–∞–≥–∞—é—â–∏–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º:
lag_1       30490
lag_7      213430
lag_14     426860
lag_28     853720
lag_56    1707440
dtype: int64

üìâ –í—Å–µ–≥–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –≤ –ª–∞–≥–∞—Ö: 3,231,940

,id,date,sales,lag_1,lag_7,lag_14,lag_28,lag_56
0,HOBBIES_1_001_CA_1_validation,2011-01-29,0,NaN,NaN,NaN,NaN,NaN
30490,HOBBIES_1_001_CA_1_validation,2011-01-30,0,0.0,NaN,NaN,NaN,NaN
60980,HOBBIES_1_001_CA_1_validation,2011-01-31,0,0.0,NaN,NaN,NaN,NaN
91470,HOBBIES_1_001_CA_1_validation,2011-02-01,0,0.0,NaN,NaN,NaN,NaN
121960,HOBBIES_1_001_CA_1_validation,2011-02-02,0,0.0,NaN,NaN,NaN,NaN
152450,HOBBIES_1_001_CA_1_validation,2011-02-03,0,0.0,NaN,NaN,NaN,NaN
182940,HOBBIES_1_001_CA_1_validation,2011-02-04,0,0.0,NaN,NaN,NaN,NaN
213430,HOBBIES_1_001_CA_1_validation,2011-02-05,0,0.0,0.0,NaN,NaN,NaN
243920,HOBBIES_1_001_CA_1_validation,2011-02-06,0,0.0,0.0,NaN,NaN,NaN
274410,HOBBIES_1_001_CA_1_validation,2011-02-07,0,0.0,0.0,NaN,NaN,NaN

In [13]:
# ----------- –®–ê–ì 2.2: –ë–∞–∑–æ–≤—ã–µ —Å–∫–æ–ª—å–∑—è—â–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ (—Å shift –∏ min_periods=1) -----------
# üéØ –í—ã—á–∏—Å–ª—è–µ–º rolling-–º–µ—Ç—Ä–∏–∫–∏ –ø–æ –ø—Ä–æ–¥–∞–∂–∞–º: mean/std –Ω–∞ –∫–æ—Ä–æ—Ç–∫–∏—Ö –æ–∫–Ω–∞—Ö

print("üîÑ –ì–µ–Ω–µ—Ä–∏—Ä—É–µ–º rolling-–ø—Ä–∏–∑–Ω–∞–∫–∏: rolling_mean_7, rolling_std_14, rolling_mean_28")

ROLLING_WINDOWS = {
    'rolling_mean_7': 7,
    'rolling_std_14': 14,
    'rolling_mean_28': 28,
}

for col_name, window in ROLLING_WINDOWS.items():
    func = np.std if "std" in col_name else np.mean
    df[col_name] = (
        df.groupby("id")["sales"]
          .transform(lambda x: x.shift(1).rolling(window=window, min_periods=1).agg(func))
          .astype("float32")
    )

# ‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞
missing_rolling = df[list(ROLLING_WINDOWS)].isna().sum()
total_missing = missing_rolling.sum()

print("\nüîç –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ rolling-–ø—Ä–∏–∑–Ω–∞–∫–∞–º:")
print(missing_rolling)
print(f"\nüìä –í—Å–µ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤: {total_missing:,}")

# üëÅ –ü—Ä–∏–º–µ—Ä —Å—Ç—Ä–æ–∫
display(df[['id', 'date', 'sales'] + list(ROLLING_WINDOWS)].head(10))

# üîß –ó–∞–º–µ–Ω—è–µ–º NaN –≤ std-–ø—Ä–∏–∑–Ω–∞–∫–µ –Ω–∞ 0.0
df['rolling_std_14'] = df['rolling_std_14'].fillna(0.0)

# üîç –ü—Ä–æ–≤–µ—Ä–∏–º: –≤—Å–µ NaN —É—à–ª–∏
print(f"‚úÖ –û—Å—Ç–∞–ª–æ—Å—å NaN –≤ rolling_std_14: {df['rolling_std_14'].isna().sum()}")

üîÑ –ì–µ–Ω–µ—Ä–∏—Ä—É–µ–º rolling-–ø—Ä–∏–∑–Ω–∞–∫–∏: rolling_mean_7, rolling_std_14, rolling_mean_28

üîç –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ rolling-–ø—Ä–∏–∑–Ω–∞–∫–∞–º:
rolling_mean_7     30490
rolling_std_14     60980
rolling_mean_28    30490
dtype: int64

üìä –í—Å–µ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤: 121,960

,id,date,sales,rolling_mean_7,rolling_std_14,rolling_mean_28
0,HOBBIES_1_001_CA_1_validation,2011-01-29,0,NaN,NaN,NaN
30490,HOBBIES_1_001_CA_1_validation,2011-01-30,0,0.0,NaN,0.0
60980,HOBBIES_1_001_CA_1_validation,2011-01-31,0,0.0,0.0,0.0
91470,HOBBIES_1_001_CA_1_validation,2011-02-01,0,0.0,0.0,0.0
121960,HOBBIES_1_001_CA_1_validation,2011-02-02,0,0.0,0.0,0.0
152450,HOBBIES_1_001_CA_1_validation,2011-02-03,0,0.0,0.0,0.0
182940,HOBBIES_1_001_CA_1_validation,2011-02-04,0,0.0,0.0,0.0
213430,HOBBIES_1_001_CA_1_validation,2011-02-05,0,0.0,0.0,0.0
243920,HOBBIES_1_001_CA_1_validation,2011-02-06,0,0.0,0.0,0.0
274410,HOBBIES_1_001_CA_1_validation,2011-02-07,0,0.0,0.0,0.0

‚úÖ –û—Å—Ç–∞–ª–æ—Å—å NaN –≤ rolling_std_14: 0

In [14]:
# ----------- –®–ê–ì 2.3: –†–∞—Å—à–∏—Ä–µ–Ω–Ω—ã–µ rolling-–ø—Ä–∏–∑–Ω–∞–∫–∏ -----------
# üéØ –î–æ–±–∞–≤–ª—è–µ–º rolling –ø–æ –±–æ–ª—å—à–∏–º –æ–∫–Ω–∞–º: 2 –º–µ—Å—è—Ü–∞, 1 –≥–æ–¥ –∏ –º–∏–Ω–∏–º—É–º –∑–∞ –≥–æ–¥

print("üîÑ –ì–µ–Ω–µ—Ä–∏—Ä—É–µ–º —Ä–∞—Å—à–∏—Ä–µ–Ω–Ω—ã–µ rolling-–ø—Ä–∏–∑–Ω–∞–∫–∏: mean_56, mean_365, min_365")

ROLLING_ADVANCED = {
    'rolling_mean_56': ('mean', 56),
    'rolling_mean_365': ('mean', 365),
    'rolling_min_365': ('min', 365),
}

for col_name, (stat, window) in ROLLING_ADVANCED.items():
    func = np.mean if stat == 'mean' else np.min

    df[col_name] = (
        df.groupby("id")["sales"]
          .transform(lambda x: x.shift(1).rolling(window=window, min_periods=1).agg(func))
          .astype("float32")
    )

# ‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞–ª–∏—á–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤
missing_advanced = df[list(ROLLING_ADVANCED)].isna().sum()
total_missing = missing_advanced.sum()

print("\nüîç –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ —Ä–∞—Å—à–∏—Ä–µ–Ω–Ω—ã–º rolling-–ø—Ä–∏–∑–Ω–∞–∫–∞–º:")
print(missing_advanced)
print(f"\nüìä –í—Å–µ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤: {total_missing:,}")

# üëÅ –ü—Ä–∏–º–µ—Ä —Å—Ç—Ä–æ–∫
display(df[['id', 'date', 'sales'] + list(ROLLING_ADVANCED)].head(10))

# üîß –ó–∞–ø–æ–ª–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ 0.0 ‚Äî —Å—Ç–∞–Ω–¥–∞—Ä—Ç –¥–ª—è rolling min/mean
adv_cols = list(ROLLING_ADVANCED.keys())
df[adv_cols] = df[adv_cols].fillna(0.0)

# üîç –§–∏–Ω–∞–ª—å–Ω–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞: NaN –±–æ–ª—å—à–µ –Ω–µ –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å
print("‚úÖ NaN –≤ advanced-—Ñ–∏—á–∞—Ö (–ø–æ—Å–ª–µ fillna):", df[adv_cols].isna().sum().sum())

üîÑ –ì–µ–Ω–µ—Ä–∏—Ä—É–µ–º —Ä–∞—Å—à–∏—Ä–µ–Ω–Ω—ã–µ rolling-–ø—Ä–∏–∑–Ω–∞–∫–∏: mean_56, mean_365, min_365

üîç –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ —Ä–∞—Å—à–∏—Ä–µ–Ω–Ω—ã–º rolling-–ø—Ä–∏–∑–Ω–∞–∫–∞–º:
rolling_mean_56     30490
rolling_mean_365    30490
rolling_min_365     30490
dtype: int64

üìä –í—Å–µ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤: 91,470

,id,date,sales,rolling_mean_56,rolling_mean_365,rolling_min_365
0,HOBBIES_1_001_CA_1_validation,2011-01-29,0,NaN,NaN,NaN
30490,HOBBIES_1_001_CA_1_validation,2011-01-30,0,0.0,0.0,0.0
60980,HOBBIES_1_001_CA_1_validation,2011-01-31,0,0.0,0.0,0.0
91470,HOBBIES_1_001_CA_1_validation,2011-02-01,0,0.0,0.0,0.0
121960,HOBBIES_1_001_CA_1_validation,2011-02-02,0,0.0,0.0,0.0
152450,HOBBIES_1_001_CA_1_validation,2011-02-03,0,0.0,0.0,0.0
182940,HOBBIES_1_001_CA_1_validation,2011-02-04,0,0.0,0.0,0.0
213430,HOBBIES_1_001_CA_1_validation,2011-02-05,0,0.0,0.0,0.0
243920,HOBBIES_1_001_CA_1_validation,2011-02-06,0,0.0,0.0,0.0
274410,HOBBIES_1_001_CA_1_validation,2011-02-07,0,0.0,0.0,0.0

‚úÖ NaN –≤ advanced-—Ñ–∏—á–∞—Ö (–ø–æ—Å–ª–µ fillna): 0

In [15]:
# ----------- –®–∞–≥ 2.4: –¶–µ–Ω–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ (–æ–±–Ω–æ–≤–ª—ë–Ω–Ω—ã–µ) -----------
# üéØ –¶–µ–ª—å: —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–∏, –æ—Ç—Ä–∞–∂–∞—é—â–∏–µ —É—Ä–æ–≤–Ω–∏ –∏ –¥–∏–Ω–∞–º–∏–∫—É —Ü–µ–Ω

print("üí≤ –ì–µ–Ω–µ—Ä–∏—Ä—É–µ–º —Ü–µ–Ω–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏: rolling_max_365, price_norm, momentum/pct_change, discount")

# üü© 1. –ì–æ–¥–æ–≤–æ–π –º–∞–∫—Å–∏–º—É–º —Ü–µ–Ω—ã –ø–æ store_id + item_id
df['price_max_365'] = (
    df.groupby(['store_id', 'item_id'])['sell_price']
      .rolling(window=365, min_periods=1)
      .max()
      .reset_index(level=[0,1], drop=True)
      .astype('float32')
)

# üü© 2. –ù–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–Ω–∞—è —Ü–µ–Ω–∞ (sell_price / –≥–æ–¥–æ–≤–æ–π –º–∞–∫—Å–∏–º—É–º)
df['price_norm'] = (df['sell_price'] / df['price_max_365']).astype('float32')

# üü© 3. –ú–æ–º–µ–Ω—Ç—É–º: —Ü–µ–Ω–∞ - 7 –¥–Ω–µ–π –Ω–∞–∑–∞–¥
df['price_momentum_7'] = (
    df.groupby('id')['sell_price']
      .transform(lambda x: x - x.shift(7))
      .astype('float32')
)

# üü© 4. –û—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ–µ –∏–∑–º–µ–Ω–µ–Ω–∏–µ —Ü–µ–Ω—ã (–ø—Ä–æ—Ü–µ–Ω—Ç)
df['price_pct_change_7'] = (
    df.groupby('id')['sell_price']
      .transform(lambda x: x.pct_change(7))
      .astype('float32')
)

# üü© 5. –ò–Ω–¥–∏–∫–∞—Ç–æ—Ä —Å–∫–∏–¥–∫–∏ (—Ü–µ–Ω–∞ –Ω–∏–∂–µ 90% –æ—Ç –≥–æ–¥–æ–≤–æ–≥–æ –º–∞–∫—Å.)
df['is_discounted'] = (df['price_norm'] < 0.9).astype('int8')

# üßº 6. –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ momentum/pct_change
df[['price_momentum_7', 'price_pct_change_7']] = df[['price_momentum_7', 'price_pct_change_7']].fillna(0)

# üßπ –£–¥–∞–ª–∏–º —É—Å—Ç–∞—Ä–µ–≤—à–∏–π price_max (–µ—Å–ª–∏ –æ–Ω –æ—Å—Ç–∞–ª—Å—è)
df.drop(columns=['price_max'], inplace=True, errors='ignore')

# ‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤
price_feats = ['price_max_365', 'price_norm', 'price_momentum_7', 'price_pct_change_7', 'is_discounted']
missing_price = df[price_feats].isna().sum()
total_missing_price = missing_price.sum()

print("\nüîç –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Ü–µ–Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–∞—Ö:")
print(missing_price)
print(f"\nüìâ –í—Å–µ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤: {total_missing_price}")

# üñºÔ∏è –ü—Ä–∏–º–µ—Ä
display(df[['id', 'date', 'sell_price'] + price_feats].head(10))

üí≤ –ì–µ–Ω–µ—Ä–∏—Ä—É–µ–º —Ü–µ–Ω–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏: rolling_max_365, price_norm, momentum/pct_change, discount

üîç –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Ü–µ–Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–∞—Ö:
price_max_365         0
price_norm            0
price_momentum_7      0
price_pct_change_7    0
is_discounted         0
dtype: int64

üìâ –í—Å–µ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤: 0

,id,date,sell_price,price_max_365,price_norm,price_momentum_7,price_pct_change_7,is_discounted
0,HOBBIES_1_001_CA_1_validation,2011-01-29,9.58,9.58,1.000000,0.00,0.000000,0
30490,HOBBIES_1_001_CA_1_validation,2011-01-30,0.70,9.58,0.073069,0.00,0.000000,1
60980,HOBBIES_1_001_CA_1_validation,2011-01-31,0.57,9.58,0.059499,0.00,0.000000,1
91470,HOBBIES_1_001_CA_1_validation,2011-02-01,0.48,9.58,0.050104,0.00,0.000000,1
121960,HOBBIES_1_001_CA_1_validation,2011-02-02,4.88,9.58,0.509395,0.00,0.000000,1
152450,HOBBIES_1_001_CA_1_validation,2011-02-03,3.78,9.58,0.394572,0.00,0.000000,1
182940,HOBBIES_1_001_CA_1_validation,2011-02-04,15.48,15.48,1.000000,0.00,0.000000,0
213430,HOBBIES_1_001_CA_1_validation,2011-02-05,6.47,15.48,0.417959,-3.11,-0.324635,1
243920,HOBBIES_1_001_CA_1_validation,2011-02-06,4.58,15.48,0.295866,3.88,5.542857,1
274410,HOBBIES_1_001_CA_1_validation,2011-02-07,4.88,15.48,0.315246,4.31,7.561404,1

In [16]:
# ----------- –®–∞–≥ 3.1: –°–æ—Ö—Ä–∞–Ω—è–µ–º –ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∏ –ø—Ä–∏–∑–Ω–∞–∫–∏ -----------

# üéØ –¶–µ–ª—å: —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å –æ—á–∏—â–µ–Ω–Ω—ã–µ –∏ –æ–±–æ–≥–∞—â—ë–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ + —Å–ø–∏—Å–æ–∫ —Ñ–∏—á–µ–π

print("üíæ –°–æ—Ö—Ä–∞–Ω—è–µ–º —Ñ–∏–Ω–∞–ª—å–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ Parquet...")

SAVE_PATH = SAVE_DIR / "m5_features_processed.parquet"
df.to_parquet(SAVE_PATH, index=False)  # –ø–æ–∫–∞ –±–µ–∑ partition

print(f"‚úÖ –î–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ—Ö—Ä–∞–Ω—ë–Ω: {SAVE_PATH}")

üíæ –°–æ—Ö—Ä–∞–Ω—è–µ–º —Ñ–∏–Ω–∞–ª—å–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ Parquet...
‚úÖ –î–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ—Ö—Ä–∞–Ω—ë–Ω: ../data/processed/m5_features_processed.parquet

In [17]:
# ------------ –®–∞–≥ 3.2: –°–æ—Ö—Ä–∞–Ω—è–µ–º —Å–ø–∏—Å–æ–∫ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –¥–ª—è –º–æ–¥–µ–ª–µ–π ------------
# üéØ –¶–µ–ª—å: —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å —Å–ø–∏—Å–æ–∫ feature columns (–∏—Å–∫–ª—é—á–∞—è ID, –¥–∞—Ç—É –∏ target)

print("üìÅ –°–æ—Ö—Ä–∞–Ω—è–µ–º —Å–ø–∏—Å–æ–∫ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (features.json)...")

feature_cols = sorted([
    col for col in df.columns
    if col not in ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id',
                   'd', 'date', 'sales', 'wm_yr_wk', 'sell_price']
])

import json

FEAT_PATH = SAVE_DIR / "features.json"
with open(FEAT_PATH, "w") as f:
    json.dump(feature_cols, f, indent=2)

print(f"‚úÖ –°–ø–∏—Å–æ–∫ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ —Å–æ—Ö—Ä–∞–Ω—ë–Ω: {FEAT_PATH}")
print(f"üìä –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤: {len(feature_cols)}")

üìÅ –°–æ—Ö—Ä–∞–Ω—è–µ–º —Å–ø–∏—Å–æ–∫ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (features.json)...
‚úÖ –°–ø–∏—Å–æ–∫ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ —Å–æ—Ö—Ä–∞–Ω—ë–Ω: ../data/processed/features.json
üìä –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤: 29

In [18]:
# ------------ –®–∞–≥ 3.3: –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ: partition + –º–∞—Å–∫–∏ –≤–∞–ª–∏–¥–∞—Ü–∏–∏ ------------
# üéØ –¶–µ–ª—å: —É—Å–∫–æ—Ä–∏—Ç—å –∑–∞–≥—Ä—É–∑–∫—É (partitioned parquet) –∏ –ø–æ–¥–≥–æ—Ç–æ–≤–∏—Ç—å –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏—é

# üíæ –°–æ—Ö—Ä–∞–Ω—è–µ–º Parquet —Å —Ä–∞–∑–±–∏–µ–Ω–∏–µ–º –ø–æ store_id (—É—Å–∫–æ—Ä–∏—Ç –∑–∞–≥—Ä—É–∑–∫—É –ø–æ –º–∞–≥–∞–∑–∏–Ω–∞–º)
PARTITIONED_PATH = SAVE_DIR / "m5_features_processed_partitioned.parquet"
df.to_parquet(PARTITIONED_PATH, index=False, partition_cols=['store_id'])

print(f"‚úÖ Partitioned Parquet —Å–æ—Ö—Ä–∞–Ω—ë–Ω: {PARTITIONED_PATH}")

# üß™ –°–æ—Ö—Ä–∞–Ω—è–µ–º placeholder-—Ñ–∞–π–ª –ø–æ–¥ future CV-–º–∞—Å–∫–∏
import pickle

CV_PATH = SAVE_DIR / "cv_masks.pkl"
with open(CV_PATH, "wb") as f:
    pickle.dump({"placeholder": True}, f)

print(f"‚úÖ –ó–∞–≥–æ—Ç–æ–≤–∫–∞ –º–∞—Å–æ–∫ –≤–∞–ª–∏–¥–∞—Ü–∏–∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞: {CV_PATH}")

‚úÖ Partitioned Parquet —Å–æ—Ö—Ä–∞–Ω—ë–Ω: ../data/processed/m5_features_processed_partitioned.parquet
‚úÖ –ó–∞–≥–æ—Ç–æ–≤–∫–∞ –º–∞—Å–æ–∫ –≤–∞–ª–∏–¥–∞—Ü–∏–∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞: ../data/processed/cv_masks.pkl